name: Flutter Android Build

on:
  workflow_dispatch:
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.38.5

      - name: Install dependencies
        run: flutter pub get

      - name: Run Android build
        run: flutter build apk

      - name: Upload APK
        uses: actions/upload-artifact@v6
        with:
          name: app-release.apk
          path: build/app/outputs/flutter-apk/app-release.apk